@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 10px;
}

*{
  box-sizing: border-box;
}

.row>*  {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container-limit {
  max-width: 1140px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 24px 75px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background: #3F2AFF;
  border-radius: 20px;
}

.section-title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.section-subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.flex {
  display: flex;
}

/* header */
.header {
  background-color: #3F2AFF;
}

.header__container {
  padding: 28px 15px 27px;
  color: #ffffff;
}

.header__logo {
  margin-right: auto;
}

.header__items {
  gap: 56px;
}

.header__link {
  font-size: 1.8rem;
}

/* hero */
.hero {
  padding: 15px 0;
  color: #ffffff;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__content {
  padding-top: 115px;
  padding-bottom: 115px;
}

.hero__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 6rem;
  line-height: 1;
}

.hero__descr {
  margin: 0;
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.5;
}

.hero__bg {
  background-image: url("../images/hero-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* about-us */
.about-us {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about-us__top {
  margin-bottom: 15px;
  padding-left: 190px;
  background-image: url("../images/about-us-pic.png");
  background-repeat: no-repeat;
  background-position: 15px 22px;
}

.about-us__title {
  margin-bottom: 16px;
}

.about-us__descr {
  margin: 0;
  color: #666666;
  line-height: 1.5;
}

.about-us__text {
  margin: 0;
  padding: 20px 0;
  padding-left: 110px;
  color: #666666;
  line-height: 1.2;
  font-weight: 700;
  background-position: left center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.about-us__icon-eye {
  background-image: url("../images/eye-circle.svg");
}

.about-us__icon-fingers {
  background-image: url("../images/fingers.svg");
}

.about-us__icon-horn {
  background-image: url("../images/horn.svg");
}

/* tutors */
.tutors {
  padding-top: 76px;
  padding-bottom: 72px;
  color: #ffffff;
  background-color: #212133;
}

.tutors__title {
  margin-bottom: 24px;
  padding-left: 8px;
}

.tutors__img {
  border-radius: 22px 22px 0px 0px;
  margin-bottom: 27px;
}

.tutors__descr {
  margin: 0;
  max-width: 330px;
  line-height: 1.5;
  color: #85859B;
}

/* courses */
.courses__container {
  padding-right: 0;
  padding-left: 0;
}
.courses {
  padding-top: 75px;
  padding-bottom: 50px;
}

.courses__title {
  margin-bottom: 23px;
  padding-left: 15px;
  color: #212133;
}

.courses__card {
  position: relative;
  padding-bottom: 30px;
  min-height: 480px;
  height: 100%;
  background-color: #edf0f9;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.courses .container .row .col-lg-6 {
  margin-bottom: 30px;
}

.courses__card--1 {
  background-image: url("../images/courses-1.jpg");
}

.courses__card--2 {
  background-image: url("../images/courses-2.jpg");
}

.courses__card--3 {
  background-image: url("../images/courses-3.jpg");
}

.courses__card--4 {
  background-image: url("../images/courses-4.jpg");
}

.courses__content {
  padding-top: 210px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.courses__subtitle {
  color: #212133;
}

.courses__time {
  position: absolute;
  top: 11px;
  right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 30px;
  color: #ffffff;
  background-image: url("../images/courses-clock.svg");
  background-position: left center;
  background-size: 24px;
  background-repeat: no-repeat;
}

.courses__descr {
  margin: 0;
  margin-bottom: auto;
  line-height: 1.5;
  color: #666;
}

.courses__btn {
  padding: 21px 59px;
  font-size: 1.6rem;
}

/* footer */
.footer__top {
  background-color: #2e2b44;
  padding: 28px 0;
}

.footer__items {
  justify-content: center;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}

.footer__link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.footer__link--facebook {
  background-image: url("../images/fb-logo.svg");
}

.footer__link--twitter {
  background-image: url("../images/tw-logo.svg");
}

.footer__link--instagram {
  background-image: url("../images/inst-logo.svg");
}

.footer__link--youtube {
  background-image: url("../images/yt-logo.svg");
}

.footer__container {
  padding-top: 5px;
  justify-content: center;
}

.copyright {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #2E2B44;
}

.symbol {
  color: #3f2aff;
}
